page-membership-card {
  text-align: center;

  svg {
    margin: 10% auto auto;
    height: 300px;
    width: 300px;
  }

  .qr-code {
    margin: 10% auto auto;
    height: 300px;
    width: 300px;
    background-color: red;
  }

  .qr-svg {
    height: 300px;
    width: 300px;
  }

  .points {
    font-size: 2.5em;
    margin: 10% auto;
  }

  .actions {
    margin-top: 5%;
    margin-bottom: 10%;
  }
}
